/*

Template: Techtrix - IT Solutions & Services WordPress Theme
Author: Peacefulqode.com
Version: 1.3
Design and Developed by: Peaceful Qode

*/
@media(max-width:1199px) {
    .container,
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 960px;
    }

    .pt-fancybox-1 {
        padding: 30px 15px;
    }

}

@media(max-width:1023px) {
    .container,
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 100%;
    }

    #pt-footer .pt-footer-style-1 .pt-copyright-footer .row {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }

    .content-area .site-main {
        padding: 90px 0;
    }

    .navbar-expand-lg .navbar-toggler {
        display: block;
    }

    .navbar-expand-lg .navbar-collapse.collapse:not(.show) {
        display: none !important;
    }

    .pt-tabs-1 .nav-tabs .nav-item {
        padding: 15px;
    }

}

@media(max-width:767px) {
    .content-area .site-main {
        padding: 60px 0;
        overflow: hidden;
    }

}